@import url("../../index.css");

.topOrder {
    background-image: url(../../assets/carrosel1.png);
   
    background-size: cover;
    background-position: top;
    height: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.contentTopOrder {
    align-self: center;
    width: 1280px;
    padding: 64px 0 ;
}

.titletopOrder {
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
}

#mainOrder{
    width: 100%;
    padding: 70px 20px;
}

#sectionOrder {
    width: 1280px;
    height: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 50px 0 0 0;
    margin:  auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section-order-title {
    font-size: 40px;
    margin: 0;
}

.section-order-paragraph {
    text-align: center;
    width: 90%;
}

.table-order {
    max-height: 505px;
    overflow: auto;
}

.table-order-content {
    margin-top: 0px;
}

.thead-table-order {
    position: sticky;
    top: 0; 
}

#sectionOrder .column{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.select-itens-order {
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
    border: none;
}

.subtitle-column-order {
    margin: 0;
    font-size: 30px;
    text-align: start;
    font-weight: 600;
}

.wrapperInput label {
    font-size: 18px;
}

.form-order {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
}

.wrapper-button-order {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.total-details-order {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex; 
}

.total-details-content {
    width: 33,3%;
}

.total-details-content p {
    font-size: 18px;
    font-weight: 600;
}

.order-buttons-next {
    width: 50%;
    margin-bottom: 50px;
}

.order-buttons {
    width: 100%;
}

.teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 0;

}

@media screen and (max-width: 1355px){
    #sectionOrder {
        width: 90%;
    }
}

@media screen and (max-width: 850px){
    .order-buttons-next {
        width: 70%;
    }
    
    form {
        flex-direction: column;
        gap: 10px;
    }

    .form-section-order {
        flex-direction: column;
        gap: 50px;
    }

}

@media screen and (max-width: 750px){
    .order-buttons,
    .order-buttons-add, 
    .order-buttons-next {
        font-size: 15px;
    }
 }

@media screen and (max-width: 600px){
    .section-order-title {
        font-size: 36px;
    }
}



@media screen and (max-width: 500px){
    .order-buttons,
    .order-buttons-add,
    .order-buttons-next {
        font-size: 12px;
    }
}

@media screen and (max-width: 475px){
    .section-order-title {
        font-size: 30px;
        line-height: normal;
        width: 90%;
    }

    #sectionOrder .column{
        width: 90%;
    }

}

@media screen and (max-width: 400px){
    .section-order-title {
        font-size: 25px;
        line-height: normal;
        width: 95%;
    }
}

@media screen and (max-width: 380px){
    .order-buttons,
    .order-buttons-add,
    .order-buttons-next {
        padding: 12px;
    }
}
