@import url("../../index.css");

.section1 {
    width: 100%;


    margin: auto;
    padding: 60px; /*padding: 0.7vw 4.15vw; começar a utilar a medida vw e vh para espaços margin e padding, pois elas facilitam na responsividade*/ 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow-x: hidden;


}

.wrapperContent {
    width: 90%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.035em;
}

.span1 {
    font-style: italic;
}

img {
    width: 760px;
    height: auto;
    object-fit: contain;
    z-index: 2;
}

/* .eclipse {
    margin-left: 65%;
    float: right;
    position: absolute;
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    top: 302px;

    background: rgba(48, 102, 190, 0.44);
    filter: blur(175px);

    z-index: 1;
} */

p {
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
}

.wrapperButtons {
    margin-top: 30px;
    display: flex;
    gap: 26px;
}


@media screen and (max-width: 1376px) {
    .section1 h1 {
        line-height: 1.4;
    }

    .section1 p {
        font-size: 16px;
        line-height: 1.2;
        max-width: 80%;
    }

    .section1 img {
        width: 450px;
    }

}

@media screen and (max-width: 1045px) {
    .section1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "text"
        ;
        gap: 20px;
        padding: 30px 20px;
    }

    .section1 img {
        grid-area: image;
        margin: auto;
    }

    .wrapperContent {
        grid-area: text;
        text-align: center;
        margin: auto;
    }

    .wrapperContent p {
        margin: auto;
    }

    .wrapperContent .wrapperButtons {
        margin: auto;
    }
}

@media screen and (max-width: 515px) {
    .section1 img {
        width: 270px;
    }
}

/* Responsividade de texto */
@media screen and (max-width: 1245px) {
    .section1 h1 {
        font-size: 38px;
    }

    @media screen and (max-width: 760px) {
        .section1 h1 {
            font-size: 28px;
            line-height: 1.2;
        }

        .section1 p {
            font-size: 14px;
        }

        .section1 h1 br {
            display: none;
        }
    }

    .wrapperContent .wrapperButtons button {
        font-size: 12px;
    }
}


@media screen and (max-width: 1220px) {
    .section1 h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .section1 h1 {
        font-size: 24px;
    }

    .section1 p {
        font-size: 12px;
    }

}

@media screen and (max-width: 370px) {
    .section1 h1 {
        font-size: 20px;
    }

    .wrapperContent .wrapperButtons button {
        font-size: 10.5px;
        width: max-content;
        padding: 8px 10px;
    }
}