@import url("../../index.css");

section {
    width: 100%;

    height: 85vh;
    max-height: 660px;
    margin: auto;
    padding: 10px 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-x: hidden;
}

.wrapperContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.035em;
}

h1 span {
    color: var(--orange);
}

h1 span:nth-child(1) {
    font-style: italic;
    color: inherit;
}

img {
    width: 750px;
    height: auto;
    object-fit: contain;
    z-index: 2;
}

/* .eclipse {
    margin-left: 65%;
    float: right;
    position: absolute;
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    top: 302px;

    background: rgba(48, 102, 190, 0.44);
    filter: blur(175px);

    z-index: 1;
} */

p {
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
}

p span {
    color: var(--orange);
}

.wrapperButtons {
    margin-top: 30px;
    display: flex;
    gap: 26px;
}


@media screen and (max-width: 1376px) {
    section h1 {
        font-size: 36px;
        line-height: 1.4;
    }

    section p {
        font-size: 16px;
        line-height: 1.2;
        max-width: 80%;
    }

    section img {
        width: 450px;
    }

}

@media screen and (max-width: 1045px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "text"
        ;
        gap: 20px;
        padding: 30px 20px;
    }

    section img {
        grid-area: image;
        align-self: center;
    }

    .wrapperContent {
        grid-area: text;
    }

}