@import url("../../index.css");

h1 {
    font-size: 4.2rem;
    /* o rem é uma medida relativa, mais usada para responsividade */
    margin-left: 50px;
    margin-top: 125px;
    font-weight: 400;
    line-height: 72px;
    max-width: 855px;
}

h1 span {
    color: var(--orange);
}

h1 span:nth-child(1) {
    font-style: italic;
    color: inherit;
    /* a cor agora é herdada (inherit) da configuração inicial */
}

img {
    position: relative;
    float: right;
    z-index: 2;
}

.eclipse {
    margin-left: 65%;
    float: right;
    position: absolute;
    box-sizing: border-box;
    width: 682px;
    height: 391px;
    top: 302px;

    background: rgba(48, 102, 190, 0.44);
    filter: blur(175px);

    z-index: 1;
}

p {
    margin-top: 28px;
    margin-left: 50px;
    font-weight: 300;
    line-height: 32px;
    font-size: 2rem;
}

p span {
    color: var(--orange);
}

.wrapperButtons {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    gap: 26px;
}

button {
    padding: 14px 20px;
    font-size: 1.8rem;

    font-weight: 600;
    color: #000000;

    background: var(--orange);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.wrapperButtons button:nth-child(2) {
    color: #FFFFFF;
    border: 3px solid #FB6730;
    border-radius: 20px;
    background: transparent;
}

.parcerias {
    display: flex;
    flex-direction: row;
    gap: 125px;

    margin-top: 8%;
    margin-left: 107px;
    padding: 20px;

    max-width: max-content;
    align-items: center;

    background: rgba(255, 255, 255, 0.05);
    border: 3px solid #101217;
    backdrop-filter: blur(1.5px);

    z-index: 3;
}