h1 {
    font-size: 4.2rem;
    /* o rem é uma medida relativa, mais usada para responsividade */
    margin-left: 50px;
    margin-top: 125px;
    font-weight: 400;
    line-height: 72px;
    max-width: 855px;
}