.parcerias {
    width: fit-content;

    display: flex;

    align-items: center;
    justify-content: space-evenly;

    padding: 20px;
    margin: 0 107px;

    border-radius: 10px;
    backdrop-filter: blur(1.5px);
    background: var(--bg-glass-dark);
    border: 1px solid rgba(235, 113, 0, 0.15);
    box-shadow: var(--box-shadow-dark);
}

.parceiro {
    padding: 10px;
}

.parceiro:hover {
    border-radius: 10px;
    background: var(--bg-glass-dark);
    transition: 0.4s;

}

.parceiro:hover img {
    filter: none;
    padding: 2px;
}

.parceiro img {
    max-width: 100%;
    max-height: 80px;
}

@media screen and (max-width: 1045px) {
    
    .parcerias {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: max-content;
    }

    .parceiro img {
        max-width: 80px;
    }

}

@media screen and (max-width: 480px) {
    
    .parcerias {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: max-content;
    }

    .parceiro img {
        max-width: 45px;
        padding: 0;
    }

}