.parcerias {
    width: fit-content;
    max-width: 70%;
    display: flex;

    gap: 20px;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    margin: auto;

    border-radius: 10px;
    backdrop-filter: blur(1.5px);
    background: var(--bg-glass-dark);
    border: 1px solid rgba(235, 113, 0, 0.15);
    box-shadow: var(--box-shadow-dark);
}

.parceiro {
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;

}

.parceiro:hover {
    background: var(--bg-glass-dark);
    transition: 0.4s;

}

.parceiro:hover img {
    filter: none;
    padding: 2px;
}

.parceiro img {
    max-width: 100%;
    min-width: 70px;
    max-height: 80px;
    filter: grayscale(30%);
    object-fit: contain;
}

@media screen and (max-width:540px) {
    .parceiro img {
        min-width: 40px;
    }

    .parcerias {
        gap: 10px;
    }
}

@media screen and (max-width:370px) {
    .parceiro img {
        min-width: 35px;
    }
}