@import url("../../index.css");

main {
    max-width: 800px;
    width: 90%;
    height: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 50px 0;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    width: 87.5%;
    height: 50px;
    background-color: var(--bg-color-dark);
    color: var(--orange);
    border-radius: 20px;
    
    margin: auto;
    text-align: center;
    font-size: 30px;
}


form {
    width: 87.5%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.contentSignUp {
    font-size: 14px;
}

form span {
    cursor: pointer;
}

form span:hover {
    text-decoration: underline;
}

form a {
    text-decoration: none;
    color: inherit;
}

.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:850px) {
    form {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        width: 87.5%;
        margin: auto;
    }
}

/* responsividade de texto */

@media screen and (max-width:560px) {
    main h2 {
        font-size: 20px;
        line-height: 2.4;
    }

    form label {
        font-size: 16px;
    }
}