@import url("../../index.css");

header {
    position: fixed;
    top: 0;
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(235, 113, 0, 0.15);
    box-shadow: var(--box-shadow-dark);

    padding: 30px 5%;

    z-index: 3;
}

a {
    text-decoration: none;
    color: inherit;

}

.logo {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.logo span {
    color: var(--orange);
}

nav {
    max-width: 70vw;
    display: flex;
    z-index: 1000;
}

nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 25px;
}


nav ul li {
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    gap: 7px;

    cursor: pointer;
}

.iconsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.arrowIcon {
    color: var(--orange);
}

.modeIcon {
    cursor: pointer;
}

.menuIcon {
    display: none;

    color: var(--orange);
    font-size: 22px;
    cursor: pointer;
}

.disabled {
    display: none;
}



.navDisabled {
    right: -1000px;

}

/* responsiveness */

@media screen and (max-width: 1045px) {

    header nav,
    header .iconsWrapper {
        font-size: 20px;
    }

    .menuIcon {
        display: block;
    }

    .divider,
    .arrowIcon {
        display: none;
    }


    nav {
        position: absolute;
        right: 0;
        top: 14vh;

        display: flex;

        align-items: flex-start;
        justify-content: center;


        height: 100vh;
        width: 40vw;
        padding: 10px 0;

        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(15px)
    }

    nav ul {
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    nav ul li {
        width: 90%;
        border-bottom: 1px solid var(--orange-low);
        padding: 10px 20px;
    }

}

@media screen and (max-width: 680px) {
    nav {
        width: 100vw;
        max-width: none;
    }
}